<div class="ed-container">
    <div class="ed-item img-cover tablet-50 web-60 abcenter">
        <img src="/img/01.jpg" alt="">
    </div>
    <div class="ed-item tablet-50 web-40 s2">
        <h1>Nuestros Diseños</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque maiores, molestias vitae cumque fuga voluptatum ipsum facere porro impedit, distinctio amet, assumenda facilis earum necessitatibus veniam id ex rerum perspiciatis</p>
        <label for="">Tamaño</label><br>
        <input type="text" class="base-100" placeholder="Pequeño"><br>
        <label class="base-20 label2">Cantidad</label>
        <input type="text" class="base-100 tablet-80" placeholder="Uno Dos"><br>
        <button class="base-100" type="button">Ordenar</button><br>
        <a href="#">Faccebook</a>
        <a href="#">Twitter</a>
        <a href="#">Youtube</a>
    </div>
    <div class="cont-m web-60 display">
        <div class="ed-item item-m img-more">
            <img src="/img/01.jpg" alt="">
        </div>
        <div class="ed-item item-m img-more">
                <img src="/img/01.jpg" alt="">
        </div>
        <div class="ed-item item-m img-more">
                <img src="/img/01.jpg" alt="">
        </div>
        <div class="ed-item item-m img-more">
                <img src="/img/01.jpg" alt="">
        </div>         
    </div>
</div>
<div class="ed-container">
    <div class="ed-item base-50 web-10 abcenter">
        <p (click)="recientes()">Reciente</p>
    </div>
    <div class="ed-item base-50 web-10 abcenter">
        <p (click)="product()">Precios</p>
    </div>
</div>

<div *ngIf='!isProduct' class="ed-container">
    <table class="img-r">
        <tr>
            <td><img src="/img/01.jpg" alt=""></td>
            <td>
                <h3>Mooral</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci deleniti quasi  vel, enim. Dolorum sit perferendis voluptas iste, commod</p>
            </td>
        </tr>
        <tr>
            <td><img src="/img/01.jpg" alt=""></td>
            <td>
                <h3>Mooral</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci deleniti quasi  vel, enim. Dolorum sit perferendis voluptas iste, commod</p>
            </td>
        </tr>
        <tr>
            <td><img src="/img/01.jpg" alt=""></td>
            <td>
                <h3>Mooral</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci deleniti quasi  vel, enim. Dolorum sit perferendis voluptas iste, commod</p>
            </td>
        </tr>
    </table>
</div>

<div *ngIf='isProduct' class="ed-container">
    <div class="c-m">
        <div class="ed-item i-m">
            <img src="/img/01.jpg" alt="">
            <h3>Mooral 1 <span>$100</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci deleniti quasi laboriosam explicabo voluptas delectus. Magnam nihil, expedita. Voluptatibus, quod. Fugit, vel, enim. Dolorum sit perferendis voluptas iste, commodi.</p>
            <button class="tablet-100" type="button">Ordernar Ahora</button>
        </div>
        <div class="ed-item i-m">
            <img src="/img/01.jpg" alt="">
            <h3>Mooral 2 <span>$200</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci deleniti quasi laboriosam explicabo voluptas delectus. Magnam nihil, expedita. Voluptatibus, quod. Fugit, vel, enim. Dolorum sit perferendis voluptas iste, commodi.</p>
            <button class="tablet-100" type="button">Ordernar Ahora</button>
        </div>
        <div class="ed-item i-m">
            <img src="/img/01.jpg" alt="">
            <h3>Mooral 3 <span>$300</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci deleniti quasi laboriosam explicabo voluptas delectus. Magnam nihil, expedita. Voluptatibus, quod. Fugit, vel, enim. Dolorum sit perferendis voluptas iste, commodi.</p>
            <button class="tablet-100" type="button">Ordernar Ahora</button>
        </div>
        <div class="ed-item i-m">
            <img src="/img/01.jpg" alt="">
            <h3>Mooral 4 <span>$400</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci deleniti quasi laboriosam explicabo voluptas delectus. Magnam nihil, expedita. Voluptatibus, quod. Fugit, vel, enim. Dolorum sit perferendis voluptas iste, commodi.</p>
            <button class="tablet-100" type="button">Ordernar Ahora</button>
        </div>
    </div>
</div>