// VARIABLES PROSCHOOL V2

// Fonts ===============================
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

// Font-weight ========================
$light      : 300;
$normal     : 400;
$semi-bold  : 600;
$bold       : 700;
$extra-bold : 800;

// Paleta de colores ==================
$primary:    #038A72;
$secondary:  #35AFBD;
$danger:     #f53d3d;
$light:      #f4f4f4;
$dark:       #222;
$favorite:   #0E4C73;

